:root {
  --black: hsl(195, 46%, 5%);
  --light-gray: hsl(12, 6%, 85%);
  --dark-blue: hsl(224, 59%, 37%);
  --light-blue: hsl(216, 25%, 75%);
  --yellow: hsl(41, 68%, 54%);
  --brown: hsl(18, 71%, 33%);
  --light-brown: hsl(21, 38%, 55%);
  --red: hsl(12, 61%, 47%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--dark-blue);
  background: var(--light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 50px 0;
}
